<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcg.serviceproduct.mapper.ProductMapper">

    <select id="scrollPageByCursor" resultType="com.xcg.freshcommon.domain.product.entity.Product">
        select * from product
        <where>
            status = 1
            <if test="lastId != null">
                and id > #{lastId}
            </if>
            <if test="lastCreateTime != null">
                and create_time > #{lastCreateTime}
            </if>
        </where>
        order by id, create_time desc
        limit #{pageSize}
    </select>
</mapper>
